@media (max-width: 575.98px) {

    .tombolgeser .nav {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 6px;
        margin-bottom: 0;
        list-style: none;
        width: -2px;
    }

    .dataedit .btn-light {
        color: #0a7bfc;
        background-color: white;
        margin-left: 50px;
        font-weight: 600;
        margin-top: 35px;
    }

    .tombolgeser .nav {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 6px;
        margin-bottom: 0;
        list-style: none;
        width: -2px;
    }

    .dataedit .btn-light {
        color: #0a7bfc;
        background-color: white;
        margin-left: 50px;
        font-weight: 600;
        margin-top: 35px;
    }

    /* Ajukan pengembalian adnroid */
    .tasshoping .fa,
    .fab,
    .fad,
    .fal,
    .far,
    .fas {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        color: blue;
        margin-top: 1px;
    }

    .masukanalasan2 .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        box-shadow: none;
        width: 289;
        margin-left: -4px;
        margin-top: 9px;
    }

    .masukanalasan .h1,
    h1 {
        font-size: 19px;
        font-weight: bold;
        margin-left: 29px;
        margin-top: -9px;
    }

    .barang1 h1 {
        font-size: 16px;
        font-weight: 500;
        margin-top: -21;
    }

    .belanja2 .h2,
    h2 {
        font-size: 19px;
        font-weight: bold;
        width: 1000px;
        margin-left: 80px;
        margin-top: 24px;
    }

    .belanja3 h2 {
        font-size: 16px;
        font-weight: 500;
        margin-left: 80px;
        margin-top: -1;
    }

    .kuantitas2 h3 {
        font-size: 19px;
        font-weight: bold;
        margin-left: 6px;
        width: 1000px;
        margin-top: 102px;
    }

    .kuantitas3 h3 {
        font-size: 16px;
        font-weight: 500;
        margin-left: 6;
        width: 1000px;
    }

    .col-sm-2 {
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        font-size: 17;
    }

    .col-sm-3 {
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        font-size: 17;
    }

    .ringkasan2 .h4,
    h4 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .datalengkap .h5,
    h5 {
        font-size: 17px;
        font-weight: 600;
        color: darkgray;
    }

    .small,
    small {
        font-size: 62%;
        font-weight: 400;
    }

    /* Keranjang */
    .shopping-summery thead {
        background-color: #007bff;
    }

    .shopping-cart .total-amount .right ul li .judul {
        font-weight: bold;
    }

    .shopping-cart .total-amount .right .button5 .btn {
        background-color: #007bff;
        color: white;
        border-radius: 15px;
    }

    .shopping-cart .qty .button.minus .btn {
        background-color: rgb(197, 197, 197);
        border-radius: 50px;
    }

    .shopping-cart .qty .button.plus .btn {
        background-color: #007bff;
        border-radius: 50px;
    }

    /* akhir keranjang */
    /* umum mobile */

    .carousel-indicators li.active {
        background-color: #007bff;
    }

    .header.shop .topbar {
        height: 150px;
        margin-bottom: 114px;
        background-color: #007bff;
    }

    .topbar .list-main i {
        color: #fff;
    }

    .topbar .list-main i::before {
        color: #fff;
    }

    .topbar .list-main a {
        color: #fff;
    }

    .header.shop .right-bar .sinlge-bar .single-icon .total-count {
        background: #007bff;
    }

    .carousel-inner {
        margin-left: -58px;
    }

    .girl {
        margin-top: 31px;
    }

    .promo {
        margin-left: 15px;
        width: 90%;
    }

    .promo h2 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 23px;
    }

    .promo h4 {
        font-size: 12px;
        font-weight: regular;
        color: #007bff;
        margin-bottom: 23px;
    }

    .pproduk .col {
        max-width: 37%;
    }

    .pproduk img {
        height: 65px;
    }

    .pproduk h4 {
        font-size: 12px;
        color: #979797;
        text-align: center;
    }

    .moreproduk .btn {
        background-color: transparent;
        border: solid;
        border-color: #007bff;
        border-radius: 5px;
        color: #007bff;
        border-width: 2px;
        margin-left: 455px;
        margin-left: 14px;
        padding-left: 14px;
        width: 90%;
    }

    /* akhir umum mobile */
    /* kategori mobile */
    .product-area .kategori .img-thumbnail {
        height: 68px;
        width: 68px;
    }

    .section-title h2::before {
        position: absolute;
        content: "";
        height: 2px;
        width: 50px;
        background: #007bff;
        left: 50%;
        bottom: 0;
        margin-left: -25px;
    }

    .product-area .kategori .col-2 {
        max-width: 100%;
        width: 100px;
        margin-left: 49px;
        margin-top: 21px;
    }



    /* akhir umum deks */
    /* akhir kategori mobile */
    /* terlaris */
    .owl-carousel .owl-item img {
        width: 5%;
    }

    .product-content .row {
        margin-right: -15px;
        margin-left: 1px;
    }

    .product-content .rowa {
        margin-left: -17px;
    }

    .product-content {
        height: 150px;
    }

    .product-content h6 {
        font-size: 10px;
    }

    .rowa i {
        color: #e98e1b;
    }

    .rowa .col-3 {
        width: 50%;
        margin-left: 90px;
        margin-top: -16px;
    }

    .rowa .col-4 {
        margin-left: 120px;
        margin-top: -16px;
    }

    .rowa h6 {
        color: rgb(208, 208, 208);
    }

    .rowa h6 span {
        font-weight: bold;
        color: rgb(28, 25, 25);
    }

    /* akhir terlaris */

    /* detail_produk */
    /* tab-pane */
    .nav-pills {
        margin-bottom: 20px;
    }

    /* akhir tab-pane */
    .view-product h3 {
        background: #007bff;
    }

    .breadcrumb>.active {
        color: #363636;
        font-weight: bold;
    }

    .breadcrumb-item a {
        color: #007bff;
        font-weight: bold;
    }

    .carousel .carousel-inner {
        margin-left: 0px;
    }

    .carousel .carousel-inner .item-control i {
        background: #007bff;
    }

    .product-details .tab-content small {
        color: #979797;
    }

    .detail .sdetail {
        color: #979797;
        font-weight: bold;
    }

    .detail .sdetail b {
        color: #363636;
        font-weight: bold;
    }

    .product-details h3 {
        margin-top: 4px;
        margin-bottom: 16px;
    }

    .product-details .nav {
        margin-bottom: 11px;
    }

    .rowa img {
        margin-left: 110px;
        margin-bottom: 15px;
        width: 18%;
    }

    .rowa .col-sm img {
        width: 41%;
        margin-left: 1px;
    }

    .rowa .col-sm .col-9 {
        margin-left: -26px;
    }

    .rowa .col-sm .col-9 small span {
        color: #eba744;
        font-weight: bold;
    }

    .pengiriman h5 {
        margin-left: 15px;
    }

    .product-information {
        padding-left: 35px;
        padding-top: 3px;
    }

    .product-information span label {
        margin-left: 48px;
    }

    .product-information span span {
        color: #007bff;
        margin-bottom: 18px;
    }

    .product-information span .form-control {
        width: 96%;
        margin-left: -24px;
        margin-bottom: 24px;
        font-size: 12px;
    }

    .product-information span .btn-atas {
        width: 90%;
        margin-left: -12px;
        background-color: #007bff;
        color: white;
        border-radius: 10px;
    }

    .product-information span .btn-fefault {
        width: 90%;
        margin-left: -12px;
        background-color: white;
        color: #007bff;
        border: solid;
        border-width: 1px;
        border-color: #007bff;
        border-radius: 10px;
    }

    /* whistlist */



    button {
        background-color: transparent;
        color: #aaa;
        display: inline-block;
        font-size: 4rem;
        height: 4rem;
        margin-bottom: 8rem;
        position: relative;
        width: 4rem;
    }

    #like:focus,
    #like2,
    #like2:focus {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
    }

    #like:focus+label,
    #like2:focus {
        filter: drop-shadow(1px 1px 2px black);
    }

    #like2[aria-pressed="true"],
    #like:checked+label {
        color: red;
    }



    /* akhir whistlist */
    /* REVIEW */
    .review {
        margin-left: 17px;
    }

    .review .rating {
        margin-left: -31px;
        margin-top: 10px;
    }

    .review .rating .col-sm-1 {
        margin-left: 70px;
        color: #f7d14a;
        margin-top: -43px;
        margin-bottom: 33px;
    }

    .review .rating .col-sm-7 .col-sm-1 {
        margin-top: -1px;
        margin-left: 3px;
        margin-bottom: -1px;
    }

    .review .rating .col-sm-7 .progress-bar {
        height: 53%;
        border-radius: 12px;
        background-color: #f7d14a;
    }

    .review .rating .col-sm-7 i {
        color: #f7d14a;
    }

    .review .rating .col-sm-7 .col-sm-2 {
        margin-left: 16px;
        margin-top: -24px;
    }

    .review .komenan img {
        height: 33px;
        width: 33px;
        border-radius: 30px;
    }

    .review .komenan i {
        color: #f7d14a;
    }

    .review .komenan .col-2 {
        margin-bottom: 20px;
    }

    .review .komenan p {
        width: 80%;
        margin-bottom: 23px;

    }

    .review .komenan .foto {
        margin-left: -21px;
        width: 20%;
        margin-bottom: 21px;
    }

    .review .komenan .foto img {
        border-radius: 1px;
        width: 20%;
    }


    /* AKHIR REVIEW */

    /* akhir detail_produk */
}

/* dekstop */


/* dekstop */
@media (min-width: 992px) {
    .carousel-item img {
        opacity: 0.6;
    }

    .nav-icon {
        background: #1b1b1b;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 50%;
        border: 0;
        opacity: 0.7;
        text-shadow: none;
        color: #fff;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-icon:hover {
        background-color: #000;
        opacity: 1.0;
        transition: all ease 0.3s;
        color: #fff;
    }

    .carousel-indicators li {
        border-radius: 50%;
        width: .8rem;
        height: .8rem;
        background: transparent;
        border: solid 2px #1b1b1b;
    }

    /* umum profil saya Dekstop (rafli) */
    .tombolgeser .nav {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 215px;
        margin-bottom: 0;
        list-style: none;
    }

    .gamabarprofil img {
        vertical-align: middle;
        border-style: none;
        margin-left: 11px;
    }

    .tempatfooter .card-footer {
        padding: .75rem 1.25rem;
        background-color: white;
        border-top: 0 solid rgba(0, 0, 0, .125);
        height: 145px;
    }

    .besarfile h1 {
        font-size: 13px;
        margin-top: 25px;
        margin-left: 6px;
        font-weight: 100;
        color: darkgray;
    }

    .dataedit .btn-light {
        color: #0a7bfc;
        background-color: white;
        margin-left: 114px;
        font-weight: 600;
        margin-top: 10px;
    }

    .dataedit .w-50 {
        width: 66% !important;
    }

    .fa,
    .fab,
    .fad,
    .fal,
    .far,
    .fas {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        margin-top: 4px;
        color: blue;
    }

    .sepok4 {
        margin-left: 100px;
        margin-top: -65px;
    }

    .berireview2 .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        box-shadow: none;
        margin-top: 5px;
    }

    .sampai h2 {
        font-size: 14px;
        margin-left: 77px;
        color: rgb(0, 209, 0);
        margin-top: 22px;
    }

    .pengiriman .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: green;
        background-color: #31fd83;
        border-color: #5DC288;
        border: 1px solid;
        border-radius: 10px;
    }

    .pengiriman .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        opacity: 60%;
    }


    /* umum profil saya Dekstop (rafli) */
    .tombolgeser .nav {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 215px;
        margin-bottom: 0;
        list-style: none;
    }

    .gamabarprofil img {
        vertical-align: middle;
        border-style: none;
        margin-left: 11px;
    }

    .tempatfooter .card-footer {
        padding: .75rem 1.25rem;
        background-color: white;
        border-top: 0 solid rgba(0, 0, 0, .125);
        height: 145px;
    }

    .besarfile h1 {
        font-size: 13px;
        margin-top: 25px;
        margin-left: 6px;
        font-weight: 100;
        color: darkgray;
    }

    .dataedit .btn-light {
        color: #0a7bfc;
        background-color: white;
        margin-left: 114px;
        font-weight: 600;
        margin-top: 10px;
    }

    .dataedit .w-50 {
        width: 66% !important;
    }

    .fa,
    .fab,
    .fad,
    .fal,
    .far,
    .fas {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        margin-top: 4px;
        color: blue;
    }

    .sepok4 {
        margin-left: 100px;
        margin-top: -65px;
    }

    .berireview2 .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        box-shadow: none;
        margin-top: 5px;
    }

    .sampai h2 {
        font-size: 14px;
        margin-left: 77px;
        color: rgb(0, 209, 0);
        margin-top: 22px;
    }

    .pengiriman .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: green;
        background-color: #31fd83;
        border-color: #5DC288;
        border: 1px solid;
        border-radius: 10px;
    }

    .pengiriman .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        opacity: 60%;
    }

    /* Ajukan pengembalian */
    .tasshoping .fa,
    .fab,
    .fad,
    .fal,
    .far,
    .fas {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        color: blue;
        margin-top: 1px;
    }

    .masukanalasan2 .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        box-shadow: none;
        width: 1101;
        margin-left: -4px;
        margin-top: 9px;
    }

    .masukanalasan .h1,
    h1 {
        font-size: 19px;
        font-weight: bold;
    }

    .barang1 h1 {
        font-size: 16px;
        font-weight: 500;
        margin-top: -21;
    }

    .belanja2 .h2,
    h2 {
        font-size: 19px;
        font-weight: bold;
    }

    .belanja3 h2 {
        font-size: 16px;
        font-weight: 500;
        margin-left: 13px;
    }

    .kuantitas2 h3 {
        font-size: 19px;
        font-weight: bold;
    }

    .kuantitas3 h3 {
        font-size: 16px;
        font-weight: 500;
    }

    .col-sm-2 {
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        font-size: 17;
    }

    .col-sm-3 {
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        font-size: 17;
    }

    .ringkasan2 .h4,
    h4 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .datalengkap .h5,
    h5 {
        font-size: 17px;
        font-weight: 600;
        color: darkgray;
    }

    /* keranjang */
    .shopping-summery thead {
        background-color: #007bff;
    }

    .shopping-cart .total-amount .right ul li .judul {
        font-weight: bold;
    }

    .shopping-cart .total-amount .right .button5 .btn {
        background-color: #007bff;
        color: white;
        border-radius: 15px;
    }

    .shopping-cart .qty .button.minus .btn {
        background-color: rgb(197, 197, 197);
        border-radius: 50px;
    }

    .shopping-cart .qty .button.plus .btn {
        background-color: #007bff;
        border-radius: 50px;
    }

    /* akhir keranjang */

    /* umum deks */
    .header.shop .topbar {
        height: 48px;
        margin-bottom: 114px;
        background-color: #007bff;
    }

    .topbar .list-main i {
        color: #fff;
    }

    .topbar .list-main i::before {
        color: #fff;
    }

    .topbar .list-main a {
        color: #fff;
    }

    .header.shop .right-bar .sinlge-bar .single-icon .total-count {
        background: #007bff;
    }


    .nav-item {
        margin-left: 156px;
    }

    .form-inline {
        margin-top: 10px;
        width: 40%;
    }

    .form-inline .form-control {
        width: 100%;
    }

    .form-inline .btn {
        width: 1px;
        height: 30px;
        margin-left: -52px;
        padding-top: 5px;
        padding-left: 10px;
        background-color: transparent;
    }

    .form-inline .btn i {
        color: black;
    }

    .shoping {
        margin-top: -27px;

    }

    .shoping a {
        margin-left: 417px;
    }

    .shoping i {
        color: #979797;
    }

    .right-bar {
        margin-top: -10px;
    }

    .middle-inner .search-bar .span {
        visibility: hidden;
    }

    .shopping {
        margin-left: -0px;
    }

    .login {
        margin-left: 720px;
        margin-top: -60px;
    }

    .login .btn {
        background-color: transparent;
        border: solid;
        border-color: #007bff;
        border-radius: 5px;
        color: #007bff;
        border-width: 2px;
    }

    .daftar {
        margin-left: 850px;
        margin-top: -64px;
    }

    .daftar .btn {
        background-color: #007bff;
        border-radius: 5px;
        color: #fff;
    }

    .slide .carousel-indicators li .active {
        background-color: #007bff;
    }

    .promo {
        border-style: solid;
        margin-top: 20px;
        padding-bottom: 70px;
        width: 89%;
        padding-top: 31px;
        padding-left: 19px;
        border-width: 2px;
        border-radius: 20px;
        border-color: rgb(197, 197, 197);

        margin-left: 89px;
    }

    .promo h2 {
        font-size: 30px;
        font-weight: bold;
    }

    .promo h4 {
        font-size: 13px;
        font-weight: regular;
        margin-left: 402px;
        margin-top: 9px;
        color: #007bff;
    }

    .pproduk {
        margin-top: 40px;
        margin-left: 20px;
    }

    .pproduk h4 {
        margin-left: -19px;
        margin-top: 9px;
        width: 130px;
        text-align: center;
        color: #979797;
    }


    .pproduk img {
        width: 88px;
    }

    .moreproduk .btn {
        background-color: transparent;
        border: solid;
        border-color: #007bff;
        border-radius: 5px;
        color: #007bff;
        border-width: 2px;
        margin-left: 455px;
        width: 20%;
        font-size: 13px;
        padding-left: 19px
    }

    .carousel-indicators li.active {
        background-color: #007bff;
    }

    /* kategori */
    .section-title h2::before {
        position: absolute;
        content: "";
        height: 2px;
        width: 50px;
        background: #007bff;
        left: 50%;
        bottom: 0;
        margin-left: -25px;
    }

    .product-area .kategori a {
        max-width: 100%;
        position: relative;
        z-index: 0;

    }

    .product-area .kategori a::after {
        content: "";
        display: inline-block;
        width: 95%;
        height: 400%;
        background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
        position: absolute;
        top: 0;
        left: 0;
        opacity: 100%;
        z-index: 1;
        margin-top: -2px;
        margin-left: 5px;
        border-radius: 20px;
    }

    .product-area .kategori .img-thumbnail {
        border-radius: 20px;
        width: 100%;
        height: 100%;

    }

    .product-area .kategori h4 {
        z-index: 2;
        position: absolute;
        margin-top: -43px;
        color: white;
        margin-left: 20px;
    }



    /* terlaris */
    .product-content {
        height: 150px;
    }

    .owl-carousel .owl-item img {
        width: 5%;
    }

    .product-content .row {
        margin-right: -15px;
        margin-left: 1px;
    }

    .product-content .rowa {
        margin-left: -17px;
    }

    .product-content h6 {
        font-size: 10px;
    }

    .rowa i {
        color: #e98e1b;
    }

    .rowa .col-3 {
        width: 50%;
        margin-left: 90px;
        margin-top: -16px;
    }

    .rowa .col-4 {
        margin-left: 120px;
        margin-top: -12px;
    }

    .rowa h6 {
        color: rgb(208, 208, 208);
    }

    .rowa h6 span {
        font-weight: bold;
        color: rgb(28, 25, 25);
    }

    /* akhir terlaris */

    /* akhir umum deks */
    /* detail_produk deks */
    /* nav */
    .nav-pills {
        margin-bottom: 24px;
        margin-left: -136px;
    }

    /* deskripsi */
    .deskripsi small {
        color: #979797;
    }

    /* akhir deksripsi */
    /* akhir nav */
    .detail .sdetail {
        color: #979797;
        font-weight: bold;
    }

    .detail .sdetail b {
        color: #363636;
        font-weight: bold;
    }

    .left-sidebar .breadcrumb-item a {
        color: #007bff;
        font-weight: bold;
    }

    .left-sidebar .breadcrumb-item {
        color: #363636;
        font-weight: bold;
    }

    .product-details .nav {
        margin-left: -158px;
        margin-bottom: 22px;
        margin-top: 26px;
    }

    .product-information {
        margin-top: -199
    }

    .product-details {
        margin-bottom: 101px;
    }

    .product-details .tab-content small {
        color: #979797;
    }

    .product-details small {
        color: #979797;
    }

    .product-details h3 {
        margin-top: 20px;
        margin-bottom: 34px;
    }


    .product-details .rowa small {
        color: #979797;
    }

    .product-details .rowa {
        margin-top: 24px;
        margin-left: -27px;
    }

    .rowa i {
        font-size: 120%;
        color: black;
    }

    .rowa .col-9 {
        margin-left: -16px;
    }

    .rowa small span {
        color: #eba744;
        font-weight: bold;
    }

    .col-sm-5 {
        margin-left: 40px;
    }

    .product-information {
        border: solid;
        border-width: 2px;
        border-color: rgb(197, 197, 197);
        border-radius: 10px;
        padding-bottom: 30px;
        padding-left: 31px;
    }

    .product-information span .form-control {
        width: 84%;
        margin-bottom: 20px;
        font-size: 12px;
    }

    .product-information .btn-atas {
        color: white;
        background-color: #007bff;
        border-radius: 10px;
        width: 84%;
        margin-left: 0px;
    }

    .view-product h3 {
        background-color: #007bff;
    }

    .item-control i {
        background-color: #007bff;
    }

    .product-information .btn-fefault {
        color: #007bff;
        border: solid;
        border-color: #007bff;
        border-width: 1px;
        background-color: white;
        border-radius: 10px;
        width: 84%;
        margin-left: 0px;
        margin-top: 1px;
    }

    .product-information span span {
        color: #007bff;
        font-size: 14px;
        font-weight: bold;
        margin-top: 8px;
    }

    .product-information .col-5 h5 {
        margin-left: 20px;
        margin-top: -23px;
    }

    .product-information .col-6 h5 {
        margin-left: 23px;
        margin-top: -20px;
    }

    .pengiriman .pengirimanc {
        margin-top: 11px;
        margin-left: -15px;
    }

    .pengiriman .pengirimanc .row {
        margin-bottom: 12px;
    }

    .pengiriman .pengirimanc i {
        font-size: 120%;
        color: black;
    }


    /* whistlist */



    button {
        background-color: transparent;
        color: #aaa;
        display: inline-block;
        font-size: 4rem;
        height: 4rem;
        margin-bottom: 8rem;
        position: relative;
        width: 4rem;
    }

    #like:focus,
    #like2,
    #like2:focus {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
    }

    #like:focus+label,
    #like2:focus {
        filter: drop-shadow(1px 1px 2px black);
    }

    #like2[aria-pressed="true"],
    #like:checked+label {
        color: red;
    }



    /* akhir whistlist */
    /* review */
    .review {
        margin-top: 0px;
    }

    .review .ulasan {
        margin-left: 20px;
    }

    .review .ulasan h5 {
        margin-top: 7 px;
        font-weight: normal;
    }

    .review .rating {
        margin-top: 16px;
    }

    .review .rating .col-sm-1 {
        padding-left: 0px;
        padding-top: 12px;
        margin-left: -16px;
    }

    .review .rating .col-sm-1 i {
        color: #f7d14a;
    }

    .review .rating .col-sm-7 {
        margin-left: -18px;
    }

    .review .rating .col-sm-7 .row {
        margin-bottom: -11px;
    }

    .review .rating .col-sm-7 .progress {
        height: 9px;
        color: #f7d14a;
        margin-left: 20px;
    }

    .review .rating .col-sm-7 .progress .progress-bar {

        background-color: #f7d14a;
    }

    .review .rating .col-sm-7 .col-sm-2 {
        margin-top: -9px;
    }

    .review .rating .col-sm-7 .col-sm-2 i {
        color: #f7d14a;
        margin-left: 17px;
        font-size: 10px;

    }

    .review .rating .col-sm-7 p {
        margin-top: -18px;
        margin-left: 36px;
    }

    .review .rating .col-sm-3 h5 {
        font-size: 10px;
        color: rgb(197, 197, 197);
        margin-left: 4px;
    }

    .komenan {
        margin-top: 140px;
    }

    .komenan i {
        color: #f7d14a;
        font-size: 12px;
    }

    .komenan h4 {
        font-size: 15px;
        margin-bottom: 3px;
    }

    .komenan .col-2 img {
        height: 31px;
        width: 38px;
        border-radius: 18px;
    }

    .komenan p {
        color: #818181;
        margin-top: 14px;
        margin-left: 20px;

    }

    .review .komenan .col-10 {
        margin-left: -112px;
    }

    .komenan .foto {
        margin-top: 20px;
    }

    .komenan .foto img {
        width: 10%;
        margin-right: 20px;
    }

    .komenan .foto .col-sm {
        margin-right: 0px;
    }

    /* akhir review */

    /* akhir detail_produk deks */
}

.product-area .kategori .col-2 {
    width: 195px;
    height: 149px;
}

.single-product .product-img a img {
    width: 315px;
    height: 300px;
}

/* akhir detal produk mobile */
